@import "../variables.scss";

#home {
    .search-section {
        margin: 100px;

        .search-box {
            width: 50%;
            margin: 0 auto;
            box-shadow: $lightShadow;
            border-radius: 5px;
            padding: 25px 30px;
            background-color: $mainWhite;

            input {
                width: 100%;
                padding: 10px 12px;
                border-radius: 5px;
                border: transparent;
                background-color: $mainBackground;
            }
        }
    }

    #meal {
        width: 85vw;
        margin: 0 auto;

        .meal-title {
            text-align: center;
            font-weight: 700;
            margin-bottom: 50px;
        }

        .no-match-text {
            text-align: center;
        }
    }

    #meal-card {
        box-shadow: $lightShadow;
        border-radius: 5px;
        background-color: $mainWhite;
        margin-bottom: 50px;

        .meal-img {
            width: 100%;
            border-radius: 5px 5px 0 0;
        }

        .meal-detail {
            padding: 25px 30px;

            h3 {
                font-weight: 700;
            }

            h4 {
                font-size: 16px;
                font-weight: 700;
            }

            .text-meal-area {
                margin-bottom: 8px;
            }

            p {
                margin-bottom: 0px;
            }
        }
    }
}
