@import "./variables.scss";
@import "./common/Navbar.scss";
@import "./common/Loading.scss";
@import "./common/Modal.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: $mainBackground;
}