#navbar {
    height: 80px;
    background-color: $mainWhite;

    .nav-list {
        width: 85vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        height: 100%;

        ul {
            margin-bottom: 0;

            a {
                color: #000000;
                transition: 0.5s;

                li {
                    list-style-type: none;
                    display: inline-block;
                    padding: 8px 15px;
                }

                &:hover {
                    color: #6b6b6b;
                    transition: 0.5s;
                }
            }

            .login {
                border: 2px solid #000000;
                border-radius: 25px;
                margin-left: 15px;
            }
        }
    }
}
